section.about
  .container
    .row
      .page-header
        h2 A bit about me...
      .col-xs-12.col-md-6.about-me
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente at dicta veniam debitis velit eveniet, recusandae nisi temporibus vero nostrum magni dolorem, mollitia consequuntur consequatur amet dolorum distinctio placeat eum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolores dolor animi soluta suscipit, facilis eius sunt accusamus magni iure doloremque, mollitia rerum officia ipsum velit sed vitae error assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aut ut repellat molestias, cupiditate, maxime nobis placeat corrupti eius delectus, mollitia eveniet fuga numquam sequi autem aspernatur praesentium quo enim!
      .col-md-6.about-img
        img(src="http://via.placeholder.com/550x300")