header.jumbotron.intro
  .container
    .row
      img(src="http://via.placeholder.com/200x200", alt="placeholder").intro-portrait
    .row
      .intro-title
        br
        p.text-center Hello everyone my name is Thomas Baroody, and I like to create websites and fix computers!