header.jumbotron.intro
  .container
    .row
      img(src="img/portrait.jpg", alt="placeholder", width="250").intro-portrait
    .row
      .intro-title
        br
        h3.text-center Hello everyone my name is Thomas Baroody, and I like to create websites and fix computers!