section.portfolio
  .container
    .row
      .col-xs-12
        .page-header
          h2 Check out my work...
      .col-xs-6.col-sm-4.col-md-3
        a(href="#").thumbnail
          img(src="http://via.placeholder.com/320x320")
      .col-xs-6.col-sm-4.col-md-3
        a(href="#").thumbnail
          img(src="http://via.placeholder.com/320x320")
      .col-xs-6.col-sm-4.col-md-3
        a(href="#").thumbnail
          img(src="http://via.placeholder.com/320x320")
      .col-xs-6.col-sm-4.col-md-3
        a(href="#").thumbnail
          img(src="http://via.placeholder.com/320x320")
      .col-xs-6.col-sm-4.col-md-3
        a(href="#").thumbnail
          img(src="http://via.placeholder.com/320x320")
      .col-xs-6.col-sm-4.col-md-3
        a(href="#").thumbnail
          img(src="http://via.placeholder.com/320x320")
      .col-xs-6.col-sm-4.col-md-3
        a(href="#").thumbnail
          img(src="http://via.placeholder.com/320x320")
      .col-xs-6.col-sm-4.col-md-3
        a(href="#").thumbnail
          img(src="http://via.placeholder.com/320x320")