extends layouts/_layout.pug
block title
  title Developer / IT Specialist
block append styles
  link(rel="stylesheet", href="css/home.css")
block content
  include includes/_nav.pug
  include includes/_jumbotron.pug
  include includes/_portfolio.pug
  //- include includes/_contact.pug
  include includes/_footer.pug
block scripts
  script(src="js/jquery.js")
  script(src="js/bootstrap.js")