
header.intro {
  .intro-portrait {
    display: block;
    margin: 0 auto;
  }
  .intro-title {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
section.contact {
  legend {
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 15px;
  }
}

section.about,
section.experience {
  p {
    font-size: 1.3em;
  }
}